<body class="cover">
  <div class="container">
    <h1 class="title">Weather</h1>
    <!-- Search form -->
    <form action="/">
      <input type="search" id="address" name='address' class="form-control" placeholder="Search" />
      <button type="submit" class="btn btn-light">Send</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
    <script>
    (function() {
    var placesAutocomplete = places({
    appId: 'plZ2Z5063IE7',
    apiKey: '631768871a48a87b3c0adbb9c7797f04',
    container: document.querySelector('#address')
    });
    var $address = document.querySelector('#address-value')
    placesAutocomplete.on('change', function(e) {
    $address.textContent = e.suggestion.value
    console.log(e.suggestion)
    });
    placesAutocomplete.on('clear', function() {
    $address.textContent = 'none';
    });
    })();
    </script>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <div>
            <h2><%= @telaviv[:city] %></h2>
            <p><%= Time.now.utc.strftime("%d-%m-%Y") %></p>
          </div>
          <br>
          <div class="">
            <div class="">
              <%= image_tag(@telaviv[:icon]) %>
              <h2 ><%= @telaviv[:temperature] %></h2>
            </div>
            <div class="">
              <p><%= @telaviv[:humidity] %></p>
              <p><%= @telaviv[:wind] %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <div>
            <h2><%= @paris[:city] %></h2>
            <p><%= Time.now.utc.strftime("%d-%m-%Y") %></p>
          </div>
          <br>
          <div class="">
            <%= image_tag(@paris[:icon]) %>
            <h2><%= @paris[:temperature] %></h2>
          </div>
          <div class="">
            <p><%= @paris[:humidity] %></p>
            <p><%= @paris[:wind] %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <div>
            <h2><%= @lisbon[:city] %></h2>
            <p><%= Time.now.utc.strftime("%d-%m-%Y") %></p>
          </div>
          <br>
          <div class="">
            <div class="">
              <%= image_tag(@lisbon[:icon]) %>
              <h2 ><%= @lisbon[:temperature] %></h2>
            </div>
            <div class="">
              <p><%= @lisbon[:humidity] %></p>
              <p><%= @lisbon[:wind] %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <% if @city_weather %>
          <div>
            <h2><%= @city_weather[:city] %></h2>
            <p><%= Time.now.utc.strftime("%d-%m-%Y") %></p>
          </div>
          <br>
          <div class="">
            <%= image_tag(@city_weather[:icon]) %>
            <h2><%= @city_weather[:temperature] %></h2>
          </div>
          <div class="">
            <p><%= @city_weather[:humidity] %></p>
            <p><%= @city_weather[:wind] %></p>
          </div>
          <% else %>
          <h2 class="title">Please Find a place</h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
